doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title=title
        link(href=style, rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    body
        div(class=menu.class)
            each val in menu_items
                div(class=val.class id = val.id)=val.text
        div(class=content.class)
            div(class=content_title.class)=content_title.text
            div(id=content_box.id class=content_box.class)
        script(src='doT.js')
        script(src=script)